::ng-deep .p-tabmenu .p-tabmenu-nav {
  border: none;
}

::ng-deep .p-tabmenu ul li:hover span {
  color: var(--primary-200);
}

::ng-deep .p-tabmenu:active span a {
  color: var(--primary-200) !important;
}

.p-tabmenu li.ui-tabs-outline {
  outline: none;
}
