:root {
  --secondary: #181818;
  --secondary-lighter: #313131;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-secondary-lighter {
  background-color: var(--secondary-lighter) !important;
}

.border-secondary-lighter {
  border-color: var(--secondary-lighter);
}
