<app-layout-header></app-layout-header>
<div class="w-max-body flex justify-content-center">

  <main class="grid gap-3 w-full p-3 md:flex-wrap">

    <div class="col-12 md:col-9">
      <router-outlet></router-outlet>
      <div class="flex flex-wrap w-full justify-content-center align-items-center gap-4">

        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }"
          class="bg-secondary border-bottom-1 border-dotted border-none border-gray-800">
          <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
          </ng-template>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
            numquam
            deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse,
            cupiditate neque
            quas!
          </p>
          <ng-template pTemplate="footer">
            <p-button label="Learn more" icon="pi pi-book"></p-button>
          </ng-template>
        </p-card>

        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }"
          class="bg-secondary border-bottom-1 border-dotted border-none border-gray-800">
          <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
          </ng-template>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
            numquam
            deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse,
            cupiditate neque
            quas!
          </p>
          <ng-template pTemplate="footer">
            <p-button label="Learn more" icon="pi pi-book"></p-button>
          </ng-template>
        </p-card>

        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }"
          class="bg-secondary border-bottom-1 border-dotted border-none border-gray-800">
          <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
          </ng-template>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
            numquam
            deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse,
            cupiditate neque
            quas!
          </p>
          <ng-template pTemplate="footer">
            <p-button label="Learn more" icon="pi pi-book"></p-button>
          </ng-template>
        </p-card>

        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }"
          class="bg-secondary border-bottom-1 border-dotted border-none border-gray-800">
          <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
          </ng-template>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
            numquam
            deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse,
            cupiditate neque
            quas!
          </p>
          <ng-template pTemplate="footer">
            <p-button label="Learn more" icon="pi pi-book"></p-button>
          </ng-template>
        </p-card>

        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }"
          class="bg-secondary border-bottom-1 border-dotted border-none border-gray-800">
          <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
          </ng-template>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
            numquam
            deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse,
            cupiditate neque
            quas!
          </p>
          <ng-template pTemplate="footer">
            <p-button label="Learn more" icon="pi pi-book"></p-button>
          </ng-template>
        </p-card>

        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }"
          class="bg-secondary border-bottom-1 border-dotted border-none border-gray-800">
          <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
          </ng-template>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
            numquam
            deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse,
            cupiditate neque
            quas!
          </p>
          <ng-template pTemplate="footer">
            <p-button label="Learn more" icon="pi pi-book"></p-button>
          </ng-template>
        </p-card>


      </div>
    </div>

    <div class="col-12 md:col">
      <app-categories></app-categories>
    </div>

  </main>

</div>
<app-layout-footer></app-layout-footer>