<aside>
 <div class="card p-3 bg-secondary card-custom-border-bottom">

  <ng-container *ngIf="(categories | async) as categories; else loading">

   <h4 class="text-primary text-lg pb-2 mb-3 w-max border-bottom-2 border-primary ">Kategorie</h4>

   <div
    class="p-1 text-xs border-bottom-dotted border-bottom-1 border-dotted border-none border-gray-800 hover:text-primary "
    *ngFor="let category of categories">
    <span class="flex justify-content-between cursor-pointer p-0 ">

     <div class="font-family-secondary">
      <span class="text-xs">></span>
      {{category.name}}
     </div>

     <span>( {{category.amount}} )</span>
    </span>
   </div>

  </ng-container>
  <ng-template #loading>Loading...</ng-template>
 </div>
</aside>