@import "~primeflex/primeflex.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/primeng.min.css";

@import "./themes/my-theme.css";
@import "./themes/color-definitions.css";
@import "./themes/sizing-definitions.css";

/* CLEAR STYLES*/
:root,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
